<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837863970593-lodhafve53kh8kjfbl75huru452qgeel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837863970593-lodhafve53kh8kjfbl75huru452qgeel</string>
	<key>API_KEY</key>
	<string>AIzaSyB5hguHCBensE2eSoizIIIRjhM1bAo0g4c</string>
	<key>GCM_SENDER_ID</key>
	<string>837863970593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jusus.Orario</string>
	<key>PROJECT_ID</key>
	<string>orario-8759f</string>
	<key>STORAGE_BUCKET</key>
	<string>orario-8759f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837863970593:ios:082e60f373b5d41f5cd060</string>
	<key>DATABASE_URL</key>
	<string>https://orario-8759f.firebaseio.com</string>
</dict>
</plist>